<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stilo.css">
    <title>CADASTRO DE POKEMONS</title>
</head>
<body>
    
    <h1 id="detalhes"><%= det %></h1>



    <form action="/recebPokemon" method="POST">
        <div class="container stretch">
        
            <div class="item">
                <div>
            <label for="nome">Imagem: </label>
            <input type="text" name="imagem" id="imagem" placeholder="Link Imagem Pokemon " required>
        </div>
        
        <div>
            <label for="altura">Número: </label>
            <input type="number" name="numero" id="numero" placeholder="Digite a altura do pokemon" required>
        </div>
        
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome" placeholder="Digite nome do pokemon" required>
        </div>
        
        <div>
            <label for="nome">Tipo: </label>
            <input type="text" name="tipo" id="tipo" placeholder="Digite o tipo do pokemon" required>
        </div>
        
        <div>
            <label for="altura">Altura: </label>
            <input type="number" name="altura" id="altura" placeholder="Digite a altura do pokemon" required>
        </div>
        
        <div>
            <label for="peso">Peso: </label>
            <input type="number" name="peso" id="peso" placeholder="Digite o tipo do pokemon" required>
        </div>
        
        <div>
            <label for="genero">Genero: </label>
            <input type="text" name="genero" id="genero" placeholder="Digite o gênero do pokemon" required>
        </div>
    
        <div>
            <label for="categoria">Categoria: </label>
            <input type="text" name="categoria" id="categoria" placeholder="Digite a categoria do pokemon" required>
        </div>
        
        <div>
            <label for="habilidades">Habilidades: </label>
            <input type="text" name="habilidades" id="habilidades" placeholder="Digite as habilidades do pokemon" required>
        </div>
        
        <div>
            <label for="modelo">Modelo: </label>
            <input type="text" name="modelo" id="modelo" placeholder="Digite o modelo do pokemon" required> 
        </div>
        
        <div>
            <label for="fraquezas">Fraquezas: </label>
            <input type="text" name="fraquezas" id="fraquezas"  placeholder="Digite as fraquezas do pokemon" required>
            
        </div>
        <button type="submit">Cadastrar</button>
        <button type="reset" >Limpar</button>
         <input type="button" value="Voltar" onClick="history.go(-1)"> 
    </form>
    <script src="/js/script.js"></script>
</body>
</html>