
  .row-nowrap {
    flex-flow: row nowrap;
  }
  .column-nowrap {
    flex-flow: column nowrap;
  }
  .row-wrap {
    flex-flow: row wrap;
  }
  
  /* Flex Container */
  .container {
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
  }
  /* Flex Item */
  .item {
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
    position: relative;
     
    
      
  }
  
  h1 {
    text-align: center;
    margin: 20px ;
    font-size: 23;
    font-weight: normal;
      background-image: url("ceu.webp");
       background-size: 100%;
       background-attachment: fixed;
       padding: 10px 10px;
          color: black;
         
  
  }
  h2 {
    text-align: center;
    margin: 20px ;
    font-size: 23;
    font-weight: normal;
    
       background-size: 100%;
       background-attachment: fixed;
       padding: 10px 10px;
          color: black;
  
  }
  .titulo {
    text-align: center;
    margin: 20px ;
    font-size: 30;
    font-weight: normal;
    
       background-size: 100%;
       background-attachment: fixed;
       padding: 10px 10px;
          color: black;
  
  }
  
  
  p {
      background-size: 100%;
   background-attachment: fixed;
   padding: 20px ;
      color:blue;
      text-align: justify;
      
      
  }
  
  
  
   
   
   .article{
      width:"300" ;
      height:"20";
      background-size: 7%;
      display: flex;
      
        position:relative;
        top:10%; 
        left:10%;
        filter: invert(-10%);
        padding: 15px 30px;
        margin: 5px;
        
         text-align: center;
         margin: 10px;
         font-size: 20px;
         font-weight: normal;
        
         background-attachment: fixed;
         padding: 5px 10px;
         color: black;
         border-radius: 20PX;
        
     }
     .container {
     
      margin: 0 auto;
      display: flex;
      border: 5px solid #ccc;
    }
     body{

      background-image: url("/img/ceu.png");   
      background-size: 100%;
      background-attachment: fixed;
      filter: invert(-150%);
     
      
      
     }
      
      .section{
        background-size: 20%;
     background-attachment: fixed;
     padding: 10px 10px;
        color:blue;
        text-align: justify;
        font-size: 10px;
           
        }
        div{
          width:"30" ;
         height:"20";
          text-align: center;
          margin: 10px;
          font-size: 20px;
          font-weight: normal;
          background-size: 20%;
          background-attachment: fixed;
          padding: 5px 10px;
          color: black;
          border-radius: 20PX;
        }
        .imagens li img {
          width: 50px;
      }
      ul {
          list-style-type: none;
          float: left;
      }
      img {
          width: 100px;
      }
      #trocarimg {
          margin-left: 50px;
      }
      button {
        background-size: 20%;
     background-attachment: fixed;
     padding: 10px 10px;
        color:blue;
        text-align: justify;
        font-size: 10px;
      }
      input {
        background-size: 20%;
     background-attachment: fixed;
     padding: 10px 10px;
        color:blue;
        text-align: justify;
        font-size: 10px;
      }